* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 90%;
    min-height: inherit;
    margin: 0 auto;
}
nav {
    width: 100%;
    background-color: white;
    min-height: 60px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.144);
}
nav .navbar-image {
    padding-top:10px;
    height: 60px;
    float: left;
}
nav .navbar-image img {
    height: 80%;
}
nav .nav-menu {
    float: right;
    min-height: inherit;
}
nav .nav-menu li {
    color: #a18e5a;
    margin: 20px 10px 0;
    display: inline-block;
    font-size: 14px;
}
nav .navbar-image:last-child {
    float: right;
    height: 50px;
}
.ubah{
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    color: #808080;
    margin-top: 100px;
}
h3{
    text-align: center;
    font-weight: 500;
    color: #ffffff;    
}
h2{
    text-align: center;
    font-weight: 500;
    color: #a79d84;   
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 5px 1px;
    background: rgba(255, 255, 255, 0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted #808080;
    color: #808080;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}
.lanjut{
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: rgb(243, 239, 234);
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #a18e5a;
}
.lanjut:hover{
    background: #181511;
    opacity: 0.7;
}
footer {
    padding: 10px 0;
    background-color: rgb(77, 54, 38);
    min-height: 200px;
    color: white;
}
footer .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: inherit;
    justify-content: space-around;
    padding: 10px;
}
footer .contact .contact-content, .contact-content2 {
    flex-basis: 300px;
    text-align: center;
    margin: 0 10px;
    padding: 30px;
}
footer .contact .contact-content2 img{
    width: 7%;
    margin-right: 5px;
}
footer .contact .contact-content img {
    width: 70%;
    display: block;
    margin: 0 auto;
}
footer .copyright {
    text-align: right;
}



@media screen and (min-width: 900px) {
    footer .contact .contact-content2 img{
        width: 5%;
    }
    footer .contact .contact-content, .contact-content2 {
        flex-basis: 350px;
        padding: 10px;
        text-align: left;
    }
}